<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post">
        
        
            <div class="specific_post">

                <img src="/<%=post.image%>" alt="image">
                <p> 
                    <%= post.content %>
                </p>
                <div>
                    <button>likes: <%= post.likes %></button> &nbsp;
                    <!-- <button>comment: <%= post.comments %></button> &nbsp; -->
                     <a href="#"><button>Delete</button></a> &nbsp;
                     <a href="#"><button>Edit</button></a>
               </div>

             </div>
 
    </div>
</body>
</html>